<% var blogs = data[0] %> <%- include('include/head') %>
<body class="custom-cursor overflow-x-hidden" data-mobile-nav-style="classic">
  <div class="cursor-page-inner">
    <div class="circle-cursor circle-cursor-inner"></div>
    <div class="circle-cursor circle-cursor-outer"></div>
  </div>

  <%- include('include/header') %>

  <section
    class="ipad-top-space-margin py-0 bg-dark-gray"
    data-parallax-background-ratio="0.5"
    style="
      background-image: url('<% if(blogs.cover_image) {%><%= API_IMG + JSON.parse(blogs.cover_image) %><%} else {%> /frist.png <%} %>');
    "
  >
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-xxl-6 col-xl-9 col-lg-10 d-flex flex-column justify-content-center full-screen md-h-600px"
        >
          <div
            class="ps-15 pe-15 md-ps-10 md-pe-10 sm-px-0"
            data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
          >
            <span
              class="alt-font ls-minus-05px fs-20 text-white mb-5 d-inline-block fw-300"
              >Posted by
              <a
                href="#"
                class="text-white text-white-hover fw-700 text-decoration-line-bottom"
                ><%= blogs.author_name %></a
              ></span
            >
            <h1 class="alt-font text-white fw-600 mb-8 ls-minus-2px">
              <%= blogs.blog_name%>
            </h1>
            <a href="#" class="btn btn-base-color btn-medium fw-600"
              ><%= blogs.tag %></a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="bg-dark-gray background-position-center-top"
    style="background-image: url('images/demo-architecture-dotted-pattern.svg')"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-lg-8"
          data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
        >
          <div class="dropcap-style-04">
            <p class="text-justify text-white">
              <span
                class="alt-font first-letter first-letter-block border first-letter-round border-2 border-color-charcoal-grey text-white"
                >N</span
              ><%- blogs.short_description %>
            </p>
          </div>
          <div class="text-center mt-6">
            <h4 class="fw-600 text-white mx-auto mb-15px xl-w-100">
              <%= blogs.cover_title %>
            </h4>
            <span class="text-uppercase fs-15 ls-2px alt-font text-base-color"
              >- <%= blogs.author_name %> -</span
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="one-fourth-screen"
    data-parallax-background-ratio="0.5"
    style="
      background-image: url('<% if(blogs.cover_image) {%><%= API_IMG + JSON.parse(blogs.cover_image) %><%} else {%> /frist.png <%} %>');
    "
  ></section>

  <section
    class="bg-dark-gray background-position-center-top py-0"
    style="background-image: url('images/demo-architecture-dotted-pattern.svg')"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-12"
          data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
        >
          <img
            src="images/demo-architecture-blog-single-clean-03.jpg"
            class="w-100 mb-7"
            alt
          />
          <img
            src="images/demo-architecture-blog-single-clean-04.jpg"
            class="w-100"
            alt
          />
        </div>
      </div>
    </div>
  </section>

  <section
    class="bg-dark-gray background-position-center-top"
    style="background-image: url('images/demo-architecture-dotted-pattern.svg')"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-lg-8 last-paragraph-no-margin text-white"
          data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
        >
          <%- blogs.long_description %>
        </div>
      </div>
    </div>
  </section>

  <section
    class="bg-dark-gray background-position-center-top pt-0"
    style="background-image: url('images/demo-architecture-dotted-pattern.svg')"
  >
    <div class="container">
      <div
        class="row justify-content-center"
        data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
      >
        <div class="col-lg-8">
          <div class="row mb-30px">
            <div
              class="tag-cloud col-md-9 text-center text-md-start sm-mb-15px"
            >
              <a href="#">Architecture</a>
              <a href="#">Interior</a>
              <a href="#">Landscape</a>
              <a href="#">Residential</a>
            </div>
            <!-- <div
              class="tag-cloud col-md-3 text-uppercase text-center text-md-end"
            >
              <a class="likes-count fw-500 mx-0" href="#"
                ><i class="fa-regular fa-heart text-red me-10px"></i
                ><span class="text-white-hover">05 Likes</span></a
              >
            </div> -->
          </div>
          <div class="row">
            <div class="col-12 mb-6">
              <div
                class="bg-nero-grey d-block d-md-flex w-100 box-shadow-extra-large align-items-center border-radius-4px p-7 sm-p-35px"
              >
                <div class="w-140px text-center me-50px sm-mx-auto">
                  <img
                    src="images/avtar-07.jpg"
                    class="rounded-circle w-120px"
                    alt
                  />
                  <a
                    href="#"
                    class="text-white fw-500 mt-20px d-inline-block lh-20"
                    ><%= blogs.author_name %>
                  </a>
                  <span class="fs-15 lh-20 d-block sm-mb-15px"
                    >Author Name</span
                  >
                </div>
                <div
                  class="w-75 sm-w-100 text-center text-md-start last-paragraph-no-margin"
                >
                  <p></p>
                  <a
                    href="/blogs"
                    class="btn btn-link btn-large text-white mt-15px"
                    >See more blogs</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div
              class="col-12 text-center elements-social social-icon-style-04"
            >
              <ul class="medium-icon light">
                <li>
                  <a
                    class="facebook"
                    href="https://www.facebook.com/"
                    target="_blank"
                    ><i class="fa-brands fa-facebook-f"></i><span></span
                  ></a>
                </li>
                <li>
                  <a
                    class="twitter"
                    href="https://www.twitter.com/"
                    target="_blank"
                    ><i class="fa-brands fa-twitter"></i><span></span
                  ></a>
                </li>
                <li>
                  <a
                    class="instagram"
                    href="https://www.instagram.com/"
                    target="_blank"
                    ><i class="fa-brands fa-instagram"></i><span></span
                  ></a>
                </li>
                <li>
                  <a
                    class="linkedin"
                    href="http://www.linkedin.com/"
                    target="_blank"
                    ><i class="fa-brands fa-linkedin-in"></i><span></span
                  ></a>
                </li>
                <li>
                  <a
                    class="behance"
                    href="http://www.behance.com/"
                    target="_blank"
                    ><i class="fa-brands fa-behance"></i><span></span
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('include/footer') %>
</body>
