<%- include('include/head') %>

  <body class="custom-cursor overflow-x-hidden" data-mobile-nav-style="classic">
    <!-- start cursor -->
    <div class="cursor-page-inner">
      <div class="circle-cursor circle-cursor-inner"></div>
      <div class="circle-cursor circle-cursor-outer"></div>
    </div>
    <!-- end cursor -->
    <!-- start header -->
    <%- include('include/header') %>
    <!-- end header -->
    <!-- start page title -->
    <section
      class="ipad-top-space-margin page-title-big-typography cover-background background-position-center-bottom p-0 bg-dark-gray"
      style="
             background-image: url('<%= API_IMG + JSON.parse(contact.images)[0] %>')
">
      <div class="container">
        <div
          class="row align-items-end justify-content-center one-half-screen md-small-screen sm-extra-small-screen pb-9"
        >
          <div
            class="col-lg-6 col-md-8 position-relative page-title-extra-small text-center"
            data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
          >
            <h1 class="mb-20px alt-font text-white fw-500 ls-minus-4px">
              <span class="text-base-color">contact</span> us
            </h1>
            <h2 class="text-white mb-0 text-uppercase ls-3px fw-600">
              Let's work together
            </h2>
          </div>
        </div>
      </div>
    </section>
    <!-- end page title -->
    <!-- start section -->
    <section
      class="bg-dark-gray background-position-center-top"
      style="
        background-image: url('images/demo-architecture-dotted-pattern.svg');
      "
    >
      <div class="container">
        <div
          class="row"
          data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
        >
          <div class="col-lg-4 md-mb-50px sm-mb-30px">
            <span
              class="text-base-color fs-12 fw-600 ls-3px text-uppercase mb-5px d-block"
              >Get to know us</span
            >
            <h4 class="text-white fw-600 mb-0">
              Contact us our offices around the world.
            </h4>
          </div>

          <% for(var j = 0; j < addresses.data.length; j++ ) { %>

          <div class="col-lg-4 col-sm-6 last-paragraph-no-margin xs-mb-30px">
            <span class="text-base-color fs-12 fw-600 ls-3px text-uppercase"
              ><%= addresses.data[j].name %></span
            >
            <p class="w-90 lg-w-100 md-w-75 sm-w-85 xs-w-100">
              <%= addresses.data[j].address %>
            </p>
            <div
              class="separator-line-1px bg-charcoal-grey w-90 xs-w-100 mt-20px mb-20px"
            ></div>
            <div class="text-white">
              <i
                class="feather icon-feather-phone-call icon-very-small me-10px"
              ></i
              ><a href="tel:<%= addresses.data[j].phone_no %>" class="text-white"
                ><%= addresses.data[j].phone_no %></a
              >
            </div>
            <div class="text-white">
              <i class="feather icon-feather-mail icon-very-small me-10px"></i
              ><a
                href="mailto:<%= addresses.data[j].email%>"
                class="text-white text-decoration-line-bottom"
                ><%= addresses.data[j].email%></a
              >
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="p-0 bg-dark-gray">
      <div class="container-fluid p-0">
        <div class="row g-0 overlap-height">
          <div
            class="col-12"
            data-0-top="opacity:.3;"
            data-15-bottom="opacity:1;"
          >
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59838.18954939093!2d72.8223003486328!3d20.387554799999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be0d1c602b43d5b%3A0x9c01a7879ebaa46c!2sFORTUNE%20DREAM%20CON%20PVT%20LTD%20-%20Builders%2C%20Developers%20and%20A%20Real%20Estate%20Entity%2C%20Vapi!5e0!3m2!1sen!2sin!4v1717609468314!5m2!1sen!2sin" width="1500" height="550" style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section
      class="bg-dark-gray background-position-center-top position-relative"
      style="
        background-image: url('images/demo-architecture-dotted-pattern.svg');
      "
      data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 500, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'
    >
      <div class="container">
        <div
          class="row justify-content-center overlap-section overlap-section-three-fourth mb-6"
        >
          <div class="col-lg-10">
            <div class="p-9 sm-p-7 bg-nero-grey">
              <form
              action="/api/createenquiries"
              method="post"
              class="contact-form-style-03"
            >
              <div class="row justify-content-center">
                <div class="col-md-9 mb-7 xs-mb-30px">
                  <h4 class="text-white fw-600 mb-0">
                    <span class="text-base-color">Let's talk.</span> Have a
                    Question in mind?
                  </h4>
                </div>
                <div class="col-md-3 text-end d-none d-md-inline-block">
                  <img
                    src="/api/transform/<%=JSON.parse(footerData.store_setting[0].logo1) %>"
                    class="h-50px"
                    alt
                  />
                </div>
                <div class="col-md-6">
                  <label
                    for="exampleInputEmail1"
                    class="form-label fs-11 ls-2px text-uppercase text-white mb-0"
                    >Your name*</label
                  >
                  <div class="position-relative form-group mb-30px">
                    <span class="form-icon"
                      ><i class="bi bi-emoji-smile"></i
                    ></span>
                    <input
                      class="fs-15 ps-0 border-radius-0px border-color-charcoal-grey bg-transparent form-control required"
                      id="exampleInputEmail1"
                      type="text"
                      name="name"
                      placeholder="What's your good name?"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <label
                    for="exampleInputEmail1"
                    class="form-label fs-11 ls-2px text-uppercase text-white mb-0"
                    >Your phone number</label
                  >
                  <div class="position-relative form-group mb-30px">
                    <span class="form-icon"
                      ><i class="bi bi-telephone"></i
                    ></span>
                    <input
                      class="fs-15 ps-0 border-radius-0px border-color-charcoal-grey bg-transparent form-control"
                      id="exampleInputEmail3"
                      type="tel"
                      name="phone_no"
                      placeholder="Enter your phone number"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <label
                    for="exampleInputEmail1"
                    class="form-label fs-11 ls-2px text-uppercase text-white mb-0"
                    >Your email address*</label
                  >
                  <div class="position-relative form-group mb-30px">
                    <span class="form-icon"
                      ><i class="bi bi-envelope"></i
                    ></span>
                    <input
                      class="fs-15 ps-0 border-radius-0px border-color-charcoal-grey bg-transparent form-control required"
                      id="exampleInputEmail2"
                      type="email"
                      name="email"
                      placeholder="Enter your email address"
                    />
                  </div>
                </div>
                <div class="col-12 mb-5">
                  <label
                    for="exampleInputEmail1"
                    class="form-label fs-11 ls-2px text-uppercase text-white mb-0"
                    >Your message</label
                  >
                  <div class="position-relative form-group form-textarea mb-0">
                    <textarea
                      class="fs-15 ps-0 border-radius-0px border-color-charcoal-grey bg-transparent form-control"
                      name="message"
                      placeholder="How can we help you?"
                      rows="4"
                    ></textarea>
                    <span class="form-icon"
                      ><i class="bi bi-chat-square-dots"></i
                    ></span>
                  </div>
                </div>
                <div
                  class="col-xl-7 col-md-8 text-center text-md-start sm-mb-25px"
                >
                  <p class="mb-0 fs-14 lh-24 w-90 xl-w-100">
                    We are committed to protecting your privacy. We will never
                    collect information about you without your explicit consent.
                  </p>
                </div>
                <div class="col-xl-5 col-md-4 text-center text-md-end">
                  <input
                    id="exampleInputEmail5"
                    type="hidden"
                    name="project_id"
                    value="0"
                  />
                  <input
                    id="exampleInputEmail5"
                    type="hidden"
                    name="form_location"
                    value="ContactUs"
                  />
                  <button
                    class="btn btn-small btn-base-color btn-box-shadow btn-round-edge-small primary-font fw-700 submit"
                    type="submit"
                  >
                    Send message
                  </button>
                </div>
                <div class="col-12">
                  <div class="form-results mt-20px "></div>
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
      <div
        class="position-absolute bottom-minus-50px lg-bottom-minus-40px md-bottom-minus-25px sm-bottom-minus-20px xs-bottom-minus-10px left-0px right-0px text-center w-100 fs-200 lg-fs-160 md-fs-140 sm-fs-120 xs-fs-90 fw-600 text-nero-grey ls-minus-4px"
      >Fortune</div>
    </section>
    <!-- end section -->
    <!-- start footer -->
    <%- include('include/footer') %>
    <!-- end footer -->
    <!-- start scroll progress -->
    <div class="scroll-progress d-none d-xxl-block">
      <a href="#" class="scroll-top" aria-label="scroll">
        <span class="scroll-text">Scroll</span
        ><span class="scroll-line"><span class="scroll-point"></span></span>
      </a>
    </div>
    <!-- end scroll progress -->
    <!-- javascript libraries -->
    
    <script src=
    "https://code.jquery.com/jquery-3.5.0.js">
        </script>
        <script>
         
        // When DOM is loaded this 
        // function will get executed
        $(() => {
            // function will get executed 
            // on click of submit button
            $("#submitbtn").click(function(ev) {
                let form = $("#submitForm");
                $.ajax({
                    type: "POST",
                    url: "<%= API_URL + `search` %>",
                    data: form.serialize(),
                    success: function(data) {
                         
                        // Ajax call completed successfully
                        alert("Form Submited Successfully");
                    },
                    error: function(data) {
                         
                        // Some error in ajax call
                        alert("some Error");
                    }
                });
            });
        });
        </script>
  </body>
</html>
