<%- include('include/head') %>

    <body data-mobile-nav-style="classic">

        <link rel="stylesheet" href="/demos/real-estate/real-estate.css" />
        <style>
            :root {
                --base-color: #efff02
            }
        </style>
        <%- include('include/header') %>

            <section class="cover-background bg-nero-grey page-title-big-typography ipad-top-space-margin">
                <div class="container">
                    <div
                        class="row align-items-center align-items-lg-end justify-content-center extra-very-small-screen g-0">
                        <div class="col-xl-7 col-lg-8 position-relative page-title-extra-small md-mb-30px md-mt-auto"
                            data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                            <h3 class="alt-font fw-600 text-white mb-15px ls-minus-1px">
                                <%= project.title %>
                            </h3>
                            <p class="mb-35px fs-18">
                                <%= project.short_des %>
                            </p>
                        </div>
                        <div
                            class="col-lg-3 offset-xl-2 offset-lg-1 border-start border-2 border-color-base-color ps-40px sm-ps-25px md-mb-auto">
                            <button
                                class="btn btn-small btn-base-color btn-box-shadow btn-round-edge-small primary-font fw-700 submit"
                                onclick="openPdf()">
                                Get Brochure
                            </button>
                        </div>
                    </div>
                </div>
            </section>


            <section class="p-0 bg-nero-grey overflow-hidden">
                <div class="container-fluid p-0">
                    <div class="row row-cols-1 justify-content-center">

                        <div class="col">
                            <div class="swiper magic-cursor slider-four-slide swiper-dark-pagination swiper-pagination-style-3"
                                data-slider-options="{ &quot;slidesPerView&quot;: 1, &quot;spaceBetween&quot;: 20, &quot;loop&quot;: true, &quot;pagination&quot;: { &quot;el&quot;: &quot;.slider-four-slide-pagination&quot;, &quot;clickable&quot;: true }, &quot;autoplay&quot;: { &quot;delay&quot;: 3000, &quot;disableOnInteraction&quot;: false }, &quot;navigation&quot;: { &quot;nextEl&quot;: &quot;.slider-one-slide-next-1&quot;, &quot;prevEl&quot;: &quot;.slider-one-slide-prev-1&quot; }, &quot;keyboard&quot;: { &quot;enabled&quot;: true, &quot;onlyInViewport&quot;: true }, &quot;breakpoints&quot;: { &quot;1200&quot;: { &quot;slidesPerView&quot;: 3 }, &quot;992&quot;: { &quot;slidesPerView&quot;: 3 }, &quot;768&quot;: { &quot;slidesPerView&quot;: 2 } }, &quot;effect&quot;: &quot;slide&quot; }">
                                <div class="swiper-wrapper">
                                    <% JSON.parse(project.gallery_images).forEach(img=>{ %>
                                        <div class="swiper-slide">
                                            <img src="/api/transform/<%=img %>"
                                                alt class="w-100 h-100" />
                                        </div>
                                        <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="pt-30px bg-nero-grey pb-30px border-bottom border-color-charcoal-grey">
                <div class="container">
                    <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2">
                        <% const specs = JSON.parse(project.specification_data) %>
                        <% specs.forEach((spec,i)=>{ if(i<3){ %>
                            <div
                            class="col text-center border-end xs-border-end-0 border-color-charcoal-grey alt-font md-mb-15px">
                            <span class="fs-19 text-white fw-600"><%= spec.title%>:</span><%= spec.content %>
                        </div>    
                        <% }else if(i==4){ %>
                            <div class="col text-center alt-font">
                                <span class="fs-19 text-white fw-600"><%= spec.title %>:</span><%= spec.content %>
                            </div>
                      <%  }}) %>
                        
                    </div>
                </div>
            </section>


            <section class="bg-nero-grey position-relative">
                <div class=" pt-0 pb-0 ps-8 pe-8">
                    <div class="row">
                        <div class="col-lg-7 md-mb-50px">
                            <div class="row mb-15px">
                                <div class="col-12">
                                    <span class="text-base-color fs-24 fw-600 alt-font mb-15px d-block">Project
                                        Description</span>
                                    <p class="text-white"><%- project.description %></p>
                                </div>
                            </div>
                            <div class="row g-0">
                                <div class="col bg-base-color p-35px lg-ps-15px lg-pe-15px border-radius-6px fs-16">
                                    <div class="row row-cols-2 row-cols-md-4 row-cols-sm-2">
                                        <% amenities.forEach((amn,i)=>{
                                            if(i== amenities.length) {%>
                                        <div
                                            class="col text-center border-end border-color-extra-medium-gray sm-mb-30px">
                                            <img src="/api/transform/<%= JSON.parse(amn.icon)[0] %>" class="w-50px mb-15px" alt>
                                            <span class="text-dark-gray d-block lh-20"><%= amn.name %></span>
                                        </div>
                                        <% }else{%>
                                        <div class="col text-center">
                                            <img src="/api/transform/<%= JSON.parse(amn.icon)[0] %>" class="w-50px mb-15px"
                                                alt>
                                            <span class="text-dark-gray d-block lh-20"><%= amn.name %></span>
                                        </div>
                                        <%}}) %>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-7">
                                <div class="col-12">
                                    <span
                                        class="text-base-color fs-24 fw-600 alt-font mb-25px d-block">Specification</span>
                                </div>
                                <div class="col-xl-6">
                                    <% specs.forEach((spec,i)=>{ 
                                        if(i <= specs.length/2){%>
                                            <div
                                                class="row g-0 align-items-center mb-15px pb-15px border-bottom border-color-extra-medium-gray">
                                                <div class="col">
        
                                                    <div
                                                        class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                                                        <div class="feature-box-icon me-10px">
                                                            <img src="/api/transform/<%=spec.img %>"
                                                                class="w-25px" alt>
                                                        </div>
                                                        <div class="feature-box-content">
                                                            <span class="text-white"><%= spec.title %>:</span>
                                                        </div>
                                                    </div>
        
                                                </div>
                                                <div class="col"><%= spec.content %></div>
                                            </div>
                                        <%}}) %>
                                </div>
                                <div class="col-xl-6">
                                    <% specs.forEach((spec,i)=>{ 
                                        if(i > specs.length/2){%>
                                            <div
                                                class="row g-0 align-items-center mb-15px pb-15px border-bottom border-color-extra-medium-gray">
                                                <div class="col">
        
                                                    <div
                                                        class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                                                        <div class="feature-box-icon me-10px">
                                                            <img src="/api/transform/<%=spec.img %>"
                                                                class="w-25px" alt>
                                                        </div>
                                                        <div class="feature-box-content">
                                                            <span class="text-white"><%= spec.title %>:</span>
                                                        </div>
                                                    </div>
        
                                                </div>
                                                <div class="col"><%= spec.content %></div>
                                            </div>
                                        <%}}) %>
                                </div>
                            </div>
                            <!-- <div class="row mt-7">
                                <div class="col-12">
                                    <span class="text-base-color fs-24 fw-600 alt-font mb-15px d-block">Features</span>
                                </div>
                                <div class="col-6 col-sm-4">

                                    <ul class="list-style-02 text-white ps-0 mb-0">
                                        <li><i class="bi bi-check-circle icon-small me-10px"></i>Refrigerator</li>
                                        <li><i class="bi bi-check-circle icon-small me-10px"></i>Gym</li>
                                        <li><i class="bi bi-check-circle icon-small me-10px"></i>Washer</li>
                                        <li><i class="bi bi-check-circle icon-small me-10px"></i>Barbeque</li>
                                    </ul>

                                </div>
                                <div class="col-6 col-sm-4">

                                    <ul class="list-style-02 text-white ps-0 mb-0">
                                        <li><i class="bi bi-check-circle icon-small me-10px"></i>Hangers</li>
                                        <li><i class="bi bi-check-circle icon-small me-10px"></i>Microwave</li>
                                        <li><i class="bi bi-check-circle icon-small me-10px"></i>Sauna</li>
                                        <li><i class="bi bi-check-circle icon-small me-10px"></i>Dryer</li>
                                    </ul>

                                </div>
                                <div class="col-6 col-sm-4">

                                    <ul class="list-style-02 text-white ps-0 mb-0">
                                        <li><i class="bi bi-check-circle icon-small me-10px"></i>Laundry</li>
                                        <li><i class="bi bi-check-circle icon-small me-10px"></i>Shower</li>
                                        <li><i class="bi bi-check-circle icon-small me-10px"></i>Internet</li>
                                        <li><i class="bi bi-check-circle icon-small me-10px"></i>Outdoor</li>
                                    </ul>

                                </div>
                            </div> -->
                            <div class="col-12 mt-7 md-mb-40px" data-anime="{ &quot;translate&quot;: [0, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 100, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                                <span class=" fs-24 fw-600 alt-font mb-25px text-base-color d-block">Project Plans</span>
                            <div class="row overflow-hidden position-relative">
                                <div class="col-12 position-relative product-image">
                                <div class="swiper product-image-slider" data-slider-options="{ &quot;spaceBetween&quot;: 0, &quot;watchOverflow&quot;: true, &quot;navigation&quot;: { &quot;nextEl&quot;: &quot;.slider-product-next&quot;, &quot;prevEl&quot;: &quot;.slider-product-prev&quot; }, &quot;thumbs&quot;: { &quot;swiper&quot;: { &quot;el&quot;: &quot;.product-image-thumb&quot;, &quot;slidesPerView&quot;: &quot;5&quot;, &quot;spaceBetween&quot;: 15 } } }" data-swiper-thumb-click="1">
                                <div class="swiper-wrapper">
                                    <% JSON.parse(project.gallery_images).forEach(img=>{ %>
                                         <div class="swiper-slide gallery-box">
                                         <a href="/api/transform/<%= img %>" class="d-flex justify-content-center " data-group="lightbox-gallery" title="Minimalist wooden chair">
                                         <img class="w-90" src="/api/transform/<%= img %>" alt>
                                         </a>
                                         </div>
                                    <% }) %>
                                </div>
                                </div>
                                <div class="slider-product-next swiper-button-next border-radius-100 border border-1 border-color-white"><i class="fa fa-chevron-right text-white icon-very-small"></i></div>
                                <div class="slider-product-prev swiper-button-prev border-radius-100 border border-1 border-color-white"><i class="fa fa-chevron-left text-white icon-very-small"></i></div>
                                </div>
                                <div class="col-12 position-relative">
                                <div class="swiper-container product-image-thumb">
                                <div class="swiper-wrapper d-flex justify-content-center">
                                    <% JSON.parse(project.gallery_images).forEach(img=>{ %>
                                        <div class="swiper-slide"><img class="w-100" src="/api/transform/<%= img %>" alt></div>
                                    <% }) %>
                                </div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="col-xl-4 offset-xl-1 col-lg-5">
                            <div class="bg-base-color-light border-radius-6px position-sticky top-120px">
                                <div
                                    class="bg-base-color border-radius-6px feature-box feature-box-left-icon-middle overflow-hidden icon-with-text-style-08 ps-35px pe-35px pt-25px pb-20px xs-p-25px">

                                    <div
                                        class="feature-box-icon feature-box-icon-rounded w-90px h-90px overflow-visible me-20px position-relative">
                                        <img src="/images/green-home.png"  alt>
                                        <span
                                            class="animation-zoom d-inline-block bg-orange border border-2 border-color-white h-20px w-20px border-radius-100 position-absolute right-0px top-5px"></span>
                                    </div>


                                    <div class="feature-box-content last-paragraph-no-margin">
                                        <span class="text-dark-gray alt-font fw-600 fs-20 d-block">
                                            <%= project.title %>
                                        </span>
                                        <div class="lh-24 d-block">
                                            <span class="me-5px text-dark-gray opacity-8">
                                                <%= project_status.name %>
                                            </span>
                                            <!-- <div class="bg-white border-radius-2px text-uppercase alt-font fw-700 text-dark-gray fs-12 lh-24 ps-10px pe-10px d-inline-block align-middle">Verified</div> -->
                                        </div>
                                    </div>


                                    <!-- <div class="elements-social social-icon-style-02 mt-5px w-100 text-start text-lg-center">
<ul class="medium-icon">
<li class="m-0"><a class="facebook text-dark-gray" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
<li class="m-0"><a class="dribbble text-dark-gray" href="http://www.dribbble.com/" target="_blank"><i class="fa-brands fa-dribbble"></i></a></li>
<li class="m-0"><a class="twitter text-dark-gray" href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
<li class="m-0"><a class="instagram text-dark-gray" href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
</ul>
</div> -->

                                </div>
                                <div
                                    class="ps-45px bg-charcoal-grey pe-45px pt-35px pb-45px xs-p-25px contact-form-style-01 mt-0">
                                    <div class="mb-20px last-paragraph-no-margin">
                                        <p class="mb-0 alt-font fw-500 text-white"><i
                                                class="feather icon-feather-phone-call icon-small text-base-color me-10px"></i><span
                                                class="fw-600 w-20 sm-w-15 xs-w-20 d-inline-block">Phone:</span><a
                                                href="tel:12345678910" class="text-white text-base-color-hover">+91 <%= addresses.data[0].phone_no %></a></p>
                                        <p class="alt-font fw-500 text-white"><i
                                                class="feather icon-feather-mail icon-small text-base-color me-10px"></i><span
                                                class="fw-600 w-20 sm-w-15 xs-w-20 d-inline-block">Email:</span><a
                                                
                                                class="text-white text-decoration-line-bottom"><span
                                                    class="__cf_email__"
                                                    data-cfemail="c6afa8a0a986a2a9aba7afa8e8a5a9ab"><%= addresses.data[0].email%></span></a>
                                        </p>
                                    </div>
                                    <span class="alt-font fs-20 fw-600 text-white d-block mb-25px">Leave your message
                                        here</span>

                                    <form action="/api/createenquiries"
                                    method="post">
                                        <div class="position-relative form-group mb-15px">
                                            <span class="form-icon"><i class="bi bi-emoji-smile"></i></span>
                                            <input type="text" name="name"
                                                class="form-control border-color-white box-shadow-large required"
                                                placeholder="Your name*" />
                                        </div>
                                        <div class="position-relative form-group mb-15px">
                                            <span class="form-icon"><i class="bi bi-envelope"></i></span>
                                            <input type="email" name="email"
                                                class="form-control border-color-white box-shadow-large required"
                                                placeholder="Your email address*" />
                                        </div>
                                        <div class="position-relative form-group mb-15px">
                                            <span class="form-icon"><i class="bi bi-telephone-outbound"></i></span>
                                            <input type="tel" name="phone_no"
                                                class="form-control border-color-white box-shadow-large"
                                                placeholder="Your phone" />
                                        </div>
                                        <div class="position-relative form-group form-textarea">
                                            <span class="form-icon"><i class="bi bi-chat-square-dots"></i></span>
                                            <textarea placeholder="Your message" name="message"
                                                class="form-control border-color-white message"
                                                rows="3" required></textarea>
                                                <input
                                                id="exampleInputEmail5"
                                                type="hidden"
                                                name="project_id"
                                                value="<%= project.project_id %>"
                                              />
                                              <input
                                                id="exampleInputEmail5"
                                                type="hidden"
                                                name="form_location"
                                                value="Projects"
                                              />
                                            <button class="btn btn-small btn-round-edge btn-base-color mt-20px submit "
                                                type="submit">Send message</button>
                                            <div class="form-results mt-20px fs-18 fw-100 text-white d-none"></div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14961.608814065663!2d72.91057698006598!3d20.366300078750275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be0ce47d36ac1cf%3A0x160e276063e27a55!2sFORTUNE%20LANDMARK%20BY%20FORTUNE%20DREAM-CON%20PVT.%20LTD.!5e0!3m2!1sen!2sin!4v1717580931559!5m2!1sen!2sin"
                width="1900" height="650" style="border: 0" allowfullscreen="true" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>

            <%- include('include/footer') %>
                <script>
                    function openPdf() {
                        window.open(`/<%= project.brochure %>`, "_blank");
                    }
                </script>

                <!-- <script data-cfasync="false"
                    src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                <script type="text/javascript" src="/js/jquery.js"></script>
                <script type="text/javascript" src="/js/vendors.min.js"></script>
                <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCA56KqSJ11nQUw_tXgXyNMiPmQeM7EaSA&amp;callback=initMap"></script>
                <script type="text/javascript" src="/js/main.js"></script> -->
    </body>

    <!-- Mirrored from craftohtml.themezaa.com/demo-real-estate-property-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 Apr 2024 09:33:36 GMT -->

    </html>