
 <%- include('include/head')  %>

    <body class="custom-cursor overflow-x-hidden" data-mobile-nav-style="classic">  
        <!-- start cursor -->
        <div class="cursor-page-inner">
            <div class="circle-cursor circle-cursor-inner"></div>
            <div class="circle-cursor circle-cursor-outer"></div>
        </div>
        <!-- end cursor -->
        <!-- start header -->
        <%- include('include/header') %>
        <!-- end header -->
        <!-- start page title -->
        <section class="ipad-top-space-margin page-title-big-typography bg-dark-gray cover-background background-position-center-bottom p-0" 
        style="background-image: url('/api/transform/<%= JSON.parse(page.cover_url) %>')">
            <div class="container">
                <div class="row align-items-end justify-content-center one-half-screen md-small-screen sm-extra-small-screen pb-9">
                    <div class="col-lg-6 col-md-8 position-relative page-title-extra-small text-center" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <h1 class="mb-20px alt-font text-white fw-500 ls-minus-4px"><span class="text-base-color"><%= page.title %></h1>
                        <h2 class="text-white mb-0 text-uppercase ls-3px fw-600"><%= page.breadcumb_name %></h2>
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title --> 

        <div
        class="bg-dark-gray background-position-center-top position-relative"
        style="
          background-image: url('/images/demo-architecture-dotted-pattern.svg');
        "
      >
      <div class="border border-color-transparent-white-light mb-6">
        <div class="container tab-style-08">
          <ul
            class="nav nav-tabs border-0 justify-content-center alt-font fs-20 md-fs-16 sm-fs-20 text-center active--bottom"
          >
          <% project_category.forEach(pc=>{%>
            <% console.log(pc) %>

              <li class="nav-item border-color-charcoal-grey">
                <a  href="/projects?category=<%= pc.cat_slug %>" class="nav-link <% if(pc.cat_slug==curr_cat){ %>active <%}%>"
                  ><%= pc.cat_title %><span class=" bg-dark-gray"></span
                ></a>
              </li>
        <%  }) %>

          </ul>
        </div>
      </div>
        <div class="container">
          <div class="row mb-4">
            <div class="col-12 filter-content">
              <ul
                class="portfolio-simple portfolio-wrapper grid-loading grid grid-3col xxl-grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-1col xs-grid-1col gutter-extra-large text-center"
                data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
              >
                <li class="grid-sizer"></li>
                <% projects.forEach(project=>{%>
                    <li class="grid-item selected transition-inner-all">
                      <div class="portfolio-box">
                        <div class="portfolio-image bg-dark-gray">
                          <a href="/project/<%=project.slug %>">
                            <img src="/api/transform/<%= JSON.parse(project.listing_image)[0] %>" alt />
                          </a>
                        </div>
                        <div
                          class="portfolio-caption pt-35px pb-35px sm-pt-25px sm-pb-25px"
                        >
                          <a
                            href="/project/<%=project.slug %>"
                            class="text-white"
                            ><%= project.title %></a
                          >
                          <span
                            class="d-inline-block align-middle w-30px position-relative top-minus-2px separator-line-1px bg-charcoal-grey ms-15px me-15px"
                          ></span>
                          <a href="/projects?category=<%=project.cat_slug %>" class="d-inline-block"><%= project.cat_title %></a>
                        </div>
                      </div>
                    </li>
               <% }) %>
  
              </ul>
            </div>
          </div>
        </div>
      </section>
  

        <!-- start footer -->
        <%- include('include/footer') %>
        <!-- end footer -->
         <!-- start scroll progress -->
        <div class="scroll-progress d-none d-xxl-block">
          <a href="#" class="scroll-top" aria-label="scroll">
            <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
          </a>
        </div>
        <!-- end scroll progress -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/vendors.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>